:root {
  --off-white: #f8f8f8;
  --brand-red: rgb(187,57,103);
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--off-white);
  margin: 0;
  padding: 0;
}

.error-message {
  background-color: var(--brand-red);
}

a {
  color: black;
}

a:visited {
  text-decoration: none;
}

.invisible {
  visibility: hidden;
}
