:root {
  --off-white: #f8f8f8;
  --brand-red: rgb(187,57,103);
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--off-white);
  margin: 0;
  padding: 0;
}

.error-message {
  background-color: darkred;
  border-radius: 10px;
  padding: 0 1em;
  color: white;
  position: absolute;
  top: 5em;
  opacity: 1.0;
  animation: fadeOut 5s forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0.0;
  }
}

a {
  color: black;
}

a:visited {
  text-decoration: none;
}

.invisible {
  visibility: hidden;
}
