.chat-app {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin: auto;

  .chat-container {
    padding: 10px;
    max-height: 60vh;
    min-height: 30vh;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    .chat-message {
      padding: 10px;
      margin: 5px 0;
      font-size: 14px;
      line-height: 1.4;
      border-radius: 5px;
    }

    .user-message {
      background-color: var(--brand-red);
      color: white;
      align-self: flex-end;
    }

    .system-message {
      background-color: black;
      color: white;
    }
  }

  .chat-container::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .chat-input-form {
    position: fixed;
    bottom: 3em;
    display: flex;
    margin-top: 10px;
    width: 60%;

    .chat-input {
      flex: 1;
      padding: 1em;
      font-size: 14px;
      border: none;
      outline: none;
      height: 3em;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    .send-button {
      background-color: var(--brand-red);
      color: white;
      border: none;
      padding: 1em;
      cursor: pointer;
      font-size: 14px;
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
    }

    .disabled {
      opacity: 0.5
    }
  }
}
